.tag {
    font-size: 17px !important;
    display: flex !important;
    margin: 0 5px;
    align-items: center;
    background: rgba(255, 255, 255, 0.192);
    backdrop-filter: blur(8px);
    border-radius: 15px;
    border: 1px solid rgba(43, 43, 43, 0.568);
    padding: 16px !important;
    border-color: #6122E04D !important;
    min-width: 265px;
    gap: 16px;

    img {
        fill: white !important;
        width: 24px;
        height: 24px;
        color: white !important;

        svg {
            fill: white !important;
        }
    }

    span {
        line-height: 20px;
    }
}

.carousel {
    margin-left: 15px;

    :global(.slick-slide) {
        margin: 0 5px !important;
    }
}