.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    gap: 16px;

    @media (max-width: 768px) {
        padding: 16px 8px;

    }
}

.gap140 {
    margin-bottom: 140px;
}

