.teamsContainer {
    .participantInfo {
        div {
            margin-bottom: 8px;
            
            strong {
                display: inline-block;
                width: 100px;
                color: #B9BEEC;
            }
        }
    }
} 