.optionSubText {
    font-size: 12px !important;
    margin-block: 0 !important;
    line-height: 16px !important;
    opacity: 0.7 !important;
    text-align: center;
    display: block;
}

.optionText {
    line-height: 28px !important;
    text-align: center;
}

.radio {
    height: fit-content !important;
    padding-bottom: 8px !important;
    flex-grow: 1;
    max-width: 200px;
}

.radioWrapper {
    display: flex !important;
}

.closeIcon {
    svg {
        color: red !important;
        width: 16px !important;
        height: 16px !important;
    }
}