.card {
    display: grid;
    place-items: center; /* Modern browsers including Safari */
    width: 250px !important;
    height: 300px !important;
    overflow: hidden;
    border-radius: 0.625rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
    transition: transform 0.2s;
    position: relative; /* Add position relative to establish a positioning context */
}

.card > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.card__background {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    width: 100%; /* Ensure the image covers the full width */
}

.card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    height: 55%;
    width: 100%;
    position: absolute; /* Position absolutely within the card */
    bottom: 0; /* Align to bottom */
    left: 0; /* Align to left */
    z-index: 1; /* Ensure it's above the image */
    background: -webkit-linear-gradient(
            top,
            hsla(0, 0%, 0%, 0) 0%,
            hsla(0, 0%, 0%, 0.3) 10%,
            hsl(0, 0%, 0%) 100%
    ); /* Safari prefix */
    background: linear-gradient(
            180deg,
            hsla(0, 0%, 0%, 0) 0%,
            hsla(0, 0%, 0%, 0.3) 10%,
            hsl(0, 0%, 0%) 100%
    );
}

.card__title {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 2.1rem;
    color: white;
    line-height: 1.1;
    padding-top: 10%;
    width: 100%; /* Ensure the title takes full width */
    text-align: center; /* Center the text */
}

.card:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
}
