.description {
    padding-bottom: 4px !important;
}

.divider {
    margin: 8px 0 !important;
}

.moreLink {
    color: white !important;
}

.section {
    margin-top: 24px !important;
    width: 100%
}