.upload {
    :global {
        .ant-upload-list-item-error {
            border: 2px solid var(--color-error) !important;
        }


        .ant-upload-list-item-actions {
            display: flex;
            justify-content: center;
            align-items: baseline;
            gap: 8px;
        }

        img {
            object-fit: cover !important;
        }
    }
}

.crop :global(.ant-modal-footer) {
    justify-content: flex-end;
    display: flex
}