.optionSubText {
    font-size: 12px !important;
    margin-block: 0 !important;
    line-height: 16px !important;
    opacity: 0.7 !important;
    text-align: center;
    display: block;
}

.optionText {
    line-height: 28px !important;
    text-align: center;
}

.radio {
    height: fit-content !important;
    padding-bottom: 8px !important;
}